:root {
  --font-family-main: Arial, sans-serif;

  --font-size-m: 16px;
  --font-line-m: 24px;
  --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);

  --font-size-l: 24px;
  --font-line-l: 32px;
  --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);

  --font-size-xl: 28px;
  --container-max-width: 1200px;

  $animation-easing: cubic-bezier(0.645, 0.045, 0.355, 1);

  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 40px;
  }
  h3 {
    font-size: 30px;
  }
  ul,
  li {
    list-style: none;
  }

  @keyframes coffee-labels-active {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
