@keyframes coffee-labels-active {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
$animation-easing: cubic-bezier(0.645, 0.045, 0.355, 1);
.CartPage {
  .cartList {
    animation: coffee-labels-active 0.5s 0.2s $animation-easing both;
  }
}
